* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-backcolor: rgba(0, 0, 0, 0.5);
  --nav-hover-bcolor: #ff2e00;
}

.loading-page {
  position: absolute;
  background-color: var(--nav-hover-bcolor);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: "Alex Brush", cursive;
  font-weight: 200;
  font-size: 5vh;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  /* background-color: cadetblue; */
  z-index: 99;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container h3 a,
.navbar .container ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: 600;
  transition: background-color 200ms ease-in-out;
}

.navbar .container h3 a {
  color: var(--nav-hover-bcolor);
}

.navbar .container ul li a:hover {
  background-color: var(--nav-hover-bcolor);
}

.navbar .container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .container ul li {
  padding: 10px;
}

/* banner */

.banner {
}

.banner .box h1 {
  color: var(--nav-hover-bcolor);
}

.banner .box h1 span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 10vh;
}

.banner .box p {
  font-weight: 600;
  font-size: 1rem;
  text-indent: 5px;
}

.banner .box h1 span,
.banner .box p span {
  color: var(--nav-hover-bcolor);
}

.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  min-height: 50vh;
}

/* work */

.work {
}

.work .container {
}

.work .container .box p {
  font-size: 1rem;
  font-weight: 600;
}

.work .container .box p a {
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(20, 20, 88);
  transition: color 0.3s ease;
}

.work .container .box p a:hover {
  color: var(--nav-hover-bcolor);
}

/* contact */

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  min-height: 50vh;
}

.contact .container .box p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
